.sign-in2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 53px;
  font-weight: 700;
  font-family: inherit;
}
.sign-in-to {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  color: #1c1c1c;
}
.sign-in-title-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}
.input-labels,
.password {
  font-size: 16px;
  font-family: Inter;
  color: #000;
}
.input-labels {
  align-self: stretch;
  height: 40px;
}
.password {
  position: relative;
  line-height: 22px;
  text-align: center;
  display: inline-block;
  min-width: 74px;
}
.input-labels-child {
  height: 16px;
  width: 16px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.input-labels1 {
  align-self: stretch;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 7px 16px 7px 10px;
  gap: 20px;
}
.button {
  align-self: stretch;
  flex: 1;
}
.form {
  margin: 0;
  width: 327px;
  height: 178px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  max-width: 100%;
}
.or-sign-in {
  position: relative;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  min-width: 110px;
}
.social-providers-icon,
.social-providers-icon1,
.social-providers-icon2 {
  height: 45px;
  width: 45px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 45px;
}
.sign-in-title-content-parent,
.social-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.sign-in-title-content-parent {
  width: 411px;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  max-width: 100%;
}
.sign-in,
.sign-in1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.sign-in1 {
  align-self: stretch;
  border-radius: 24px;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: 85px 20px 84px;
}
.sign-in {
  width: 584px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 122px 0 0;
  min-width: 584px;
}
.background-icon {
  height: 896px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 624px;
}
.content {
  width: 1753px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 0 20px;
  box-sizing: border-box;
  gap: 189px;
  max-width: 100%;
  text-align: center;
  font-size: 48px;
  color: #000;
  font-family: Inter;
}
.signinpage {
  width: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .sign-in {
    flex: 1;
  }
  .content {
    flex-wrap: wrap;
    gap: 94px;
  }
}
@media screen and (max-width: 825px) {
  .sign-in2 {
    font-size: 38px;
    line-height: 42px;
  }
  .sign-in,
  .sign-in1 {
    box-sizing: border-box;
  }
  .sign-in1 {
    padding-top: 55px;
    padding-bottom: 55px;
  }
  .sign-in {
    padding-top: 79px;
  }
  .background-icon,
  .sign-in {
    min-width: 100%;
  }
  .content {
    gap: 47px;
  }
}
@media screen and (max-width: 450px) {
  .sign-in2 {
    font-size: 29px;
    line-height: 32px;
  }
  .button {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .sign-in-title-content-parent {
    gap: 18px;
  }
  .content {
    gap: 24px;
  }
}
