.maskGroupIcon {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
}
.elysiangifts {
  position: relative;
  display: inline-block;
  min-width: 71px;
}
.elysiangiftsWrapper,
.maskGroupParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.elysiangiftsWrapper {
  flex-direction: column;
  padding: 7.5px 0 0;
}
.maskGroupParent {
  flex-direction: row;
  gap: 8px;
}
.unifiedIncentivesUk {
  position: relative;
  font-size: 14px;
  line-height: 21px;
}
.companyNumber10354856,
.vatNumber274 {
  position: relative;
  line-height: 18px;
}
.iconLinkedinpng {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.heading4,
.solutions {
  position: relative;
  display: inline-block;
}
.heading4 {
  line-height: 22px;
  min-width: 86px;
  white-space: nowrap;
}
.solutions {
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  min-width: 62px;
  flex-shrink: 0;
}
.itemLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.features {
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 58px;
  flex-shrink: 0;
}
.itemLink1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.giftCards {
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 68px;
  flex-shrink: 0;
  white-space: nowrap;
}
.itemLink2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.clients {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 46px;
  flex-shrink: 0;
}
.itemLink3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.pricing {
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  min-width: 46px;
  flex-shrink: 0;
}
.heading4LearnMoreParent,
.itemLink4,
.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemLink4 {
  flex-direction: row;
  padding: 0;
}
.heading4LearnMoreParent,
.list {
  flex-direction: column;
}
.list {
  align-self: stretch;
  font-size: 14px;
}
.heading4LearnMoreParent {
  flex: 1;
  gap: 31px;
  min-width: 133px;
  max-width: 178px;
}
.faq,
.heading41 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 61px;
}
.faq {
  text-decoration: none;
  line-height: 21px;
  color: inherit;
  min-width: 27px;
  flex-shrink: 0;
}
.itemLink5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.clientAgreement {
  position: relative;
  line-height: 21px;
  display: inline-block;
  min-width: 116px;
  flex-shrink: 0;
  white-space: nowrap;
}
.itemLink6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.privacyStatement {
  width: 122px;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  flex-shrink: 0;
}
.itemLink7 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.systemStatus {
  width: 96px;
  position: relative;
  line-height: 21px;
  display: inline-block;
  flex-shrink: 0;
}
.heading4SupportParent,
.itemLink8,
.list1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemLink8 {
  flex-direction: row;
  padding: 0;
}
.heading4SupportParent,
.list1 {
  flex-direction: column;
}
.list1 {
  align-self: stretch;
  font-size: 14px;
}
.heading4SupportParent {
  flex: 1;
  gap: 31px;
  min-width: 133px;
  max-width: 178px;
}
.heading42,
.signUp {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 63px;
}
.signUp {
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  min-width: 52px;
  flex-shrink: 0;
  white-space: nowrap;
}
.itemLink9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.login {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 37px;
  flex-shrink: 0;
}
.footerLinksHeaders,
.itemLink10,
.list2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemLink10 {
  flex-direction: row;
  padding: 0;
}
.footerLinksHeaders,
.list2 {
  flex-direction: column;
}
.list2 {
  align-self: stretch;
  font-size: 14px;
}
.footerLinksHeaders {
  flex: 1;
  gap: 31px;
  min-width: 133px;
  max-width: 178px;
}
.aboutUs,
.heading43 {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 72px;
}
.aboutUs {
  line-height: 21px;
  color: inherit;
  text-decoration: none;
  min-width: 62px;
  flex-shrink: 0;
  white-space: nowrap;
}
.itemLink11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.contactUs {
  width: 75px;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  flex-shrink: 0;
}
.footerLinksHeaders1,
.itemLink12,
.list3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.itemLink12 {
  flex-direction: row;
  padding: 0;
}
.footerLinksHeaders1,
.list3 {
  flex-direction: column;
}
.list3 {
  align-self: stretch;
  font-size: 14px;
}
.footerLinksHeaders1 {
  flex: 1;
  gap: 31px;
  min-width: 133px;
  max-width: 178px;
}
.footer1920,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frameGroup {
  width: 827.4px;
  justify-content: flex-start;
  gap: 39px;
  font-size: 16px;
}
.footer1920 {
  align-self: stretch;
  background-color: #6c63ff;
  justify-content: space-between;
  padding: 64px 120px;
  box-sizing: border-box;
  gap: 20px;
  text-align: left;
  font-size: 12px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .footer1920 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1100px) {
  .footer1920 {
    padding-left: 60px;
    padding-right: 60px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .frameGroup {
    flex-wrap: wrap;
  }
  .footer1920 {
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frameGroup {
    gap: 19px;
  }
}
