.maskGroupIcon {
  height: 50px;
  width: 50px;
  position: relative;
  object-fit: cover;
}
.elysiangifts {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 71px;
}
.elysiangiftsWrapper,
.maskGroupParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.elysiangiftsWrapper {
  flex-direction: column;
  padding: 17.5px 0 0;
}
.maskGroupParent {
  flex-direction: row;
  gap: 8px;
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 40px;
}
.itemLink {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 7px 8px 8px;
  color: #6c63ff;
}
.solutions {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 62px;
}
.itemLink1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 6px 8px 8px;
}
.features {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 58px;
}
.itemLink2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 6px 8px 8px;
}
.giftCards {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 68px;
  white-space: nowrap;
}
.itemLink3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 4px 8px 8px;
}
.clients {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.itemLink4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 6px 8px 8px;
}
.pricing {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 46px;
}
.itemLink5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 6px 8px 8px;
}
.faq {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 27px;
}
.itemLink6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 7px 8px 8px;
}
.contactUs {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 75px;
  white-space: nowrap;
}
.itemLink7 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px 3px 8px 8px;
}
.icoCountryUkpngIcon {
  height: 20.4px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.uk {
  text-decoration: none;
  position: relative;
  line-height: 21px;
  color: inherit;
  display: inline-block;
  min-width: 20px;
  white-space: nowrap;
}
.ukWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 1.4px;
}
.border {
  width: 8px;
  height: 4px;
  position: relative;
  border-top: 4px solid #333;
  border-right: 4px solid #333;
  border-left: 4px solid #333;
  box-sizing: border-box;
}
.borderWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 10px;
}
.itemLink8,
.list {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 8px;
  gap: 8px;
}
.list {
  align-items: flex-start;
  padding: 0 5px;
  box-sizing: border-box;
  gap: 10px;
  max-width: 100%;
}
.link,
.link1 {
  height: 39px;
  width: 101.9px;
}
.link1 {
  width: 87.5px;
}
.header1921,
.header1921Inner,
.listParent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.listParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
}
.header1921,
.header1921Inner {
  box-sizing: border-box;
}
.header1921Inner {
  width: 919.6px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5.5px 0 0;
  font-size: 14px;
  color: #333;
}
.header1921 {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  padding: 10px 20px;
  gap: 631.4px;
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: 12px;
  color: #6c63ff;
  font-family: Inter;
}
@media screen and (max-width: 1275px) {
  .header1921 {
    gap: 316px;
  }
}
@media screen and (max-width: 1100px) {
  .listParent {
    display: none;
  }
  .header1921Inner {
    width: 0;
  }
}
@media screen and (max-width: 750px) {
  .header1921 {
    gap: 158px;
  }
}
@media screen and (max-width: 450px) {
  .header1921 {
    gap: 79px;
  }
}
